[submodule ".themes/books"]
	path = .themes/books
	url = git://github.com/octothemes/books.git
[submodule ".themes/forest"]
	path = .themes/forest
	url = git://github.com/octothemes/forest.git
[submodule ".themes/slash"]
	path = .themes/slash
	url = git://github.com/tommy351/Octopress-Theme-Slash.git
